* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.cursor {
  cursor: pointer;
}
.common_inside {
  height: auto;
  background-color: #f5f7f9;
  padding: 2rem;
}
input {
  outline: none;
}
button {
  border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.center_child {
  display: flex;
  justify-content: center;
  align-items: center;
}
select:focus {
  outline: none;
}
.control-arrow {
  display: none;
}
