.home_p1 {
  background-color: #f5f7f9;
}

.child1_p2 {
  width: 100%;
  height: 10.28rem;
  padding: 1.6rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.5rem;
}
.child1_p2_bg_rgb {
  background-color: #236a8e;
}

.CHILD1_P2_ul {
  display: flex;
  flex-wrap: wrap;
}

.CHILD1_P2_ul2 {
  display: flex;
  justify-content: flex-end;
}
.CHILD1_P2_D1_A {
  font-size: 1.44rem;
  font-family: sans-serif;
  font-weight: 500;
  padding: 0 1.44rem;
  text-transform: uppercase;
}
.nav_color_black {
  color: #000;
}
.nav_color_blue {
  color: #4169e1;
}
.nav_color_white {
  color: #f5f7f9;
}
.CHILD2_P2_D1_A {
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: 400;
  padding: 0 1.3rem;
  text-transform: uppercase;
}
.home_p3 {
  display: flex;
  flex-direction: column;
  padding: 12.5rem 15.8rem 16rem;
}
.child1_p3 {
  width: 60rem;
  margin-bottom: 4.5rem;
}
.child1_p3_t1 {
  font-size: 6.6rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
}
.child1_p3_t2 {
  font-size: 2.6rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
}
.child1_p3_t3 {
  padding: 1.6rem 3.2rem;
  background-color: #fff;
  color: black;
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 18px;
}
.child1_p3_t4 {
  padding: 1.6rem 3.2rem;
  color: #fff;
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #fff;
}
.home_section1 {
  padding: 12rem 16rem 20rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.section_img {
  width: 37.334rem;
  min-width: 1.5rem;
  height: 48rem;
  margin-right: 2rem;
}
.sec01_para {
  font-size: 2.6rem;
  font-weight: 500;
  font-family: sans-serif;
  color: #fff;
  margin-bottom: 1rem;
}
.pack_content {
  margin-left: 4rem;
  margin-top: -20rem;
}
.sec01_content {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: sans-serif;
  color: #fff;
  margin-bottom: 4rem;
}
.sec01_btn {
  padding: 1.6rem 2.8rem;
  text-transform: uppercase;
  background-color: #f5f7f9;
  font-weight: 600;
  font-family: sans-serif;
  color: #000;
  font-size: 1.4rem;
}
.sec01_btn:hover {
  background-color: #000;
  color: #f5f7f9;
}
.featured_products {
  padding: 10rem 10rem;
  background-color: #f5f7f9;
}
.featured_products .inside_pro h1 {
  font-size: 4.1rem;
  color: #000;
  font-weight: 600;
  font-family: sans-serif;
  border-width: 2rem;
  text-transform: capitalize;
  margin: 0rem 0rem 5rem;
}
.pro_img {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 25rem;
  height: 25rem;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.inside_pro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.prod h2 {
  font-size: 1.6rem;
  font-family: sans-serif;
  font-weight: 500;
  color: #000;
  margin-bottom: 1rem;
  width: 24.8rem;
}
.prod h3 {
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: 400;
  color: #6e6c6c;
  opacity: 0.7;
  margin-bottom: 0.7rem;
  text-transform: capitalize;
}
.prod h4 {
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: 400;
  color: #333;
  opacity: 0.7;
  margin-bottom: 0.7rem;
}
.prod span {
  font-size: 1.45rem;
  font-family: sans-serif;
  font-weight: 500;
  color: #000;
  margin-bottom: 0.72rem;
}
.extra_prod {
  opacity: 0.8;
  text-decoration: line-through;
}
.product_img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.prod {
  margin-right: 2rem;
  margin-bottom: 5rem;
}

.specialist {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.inside_specialist {
  height: 20.5rem;
  width: 30rem;
  text-align: center;
}
.inside_specialist_img {
  height: 5.2rem;
  width: 5.2rem;
  margin-bottom: 2rem;
}
.inside_specialist h5 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #000;
  margin-bottom: 1.2rem;
}
.inside_specialist p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  margin: auto;
}
.footer {
  margin: 0rem 15.9rem;
  padding-top: 2rem;
}
.brand_logo {
  width: 14rem;
  height: 4.7rem;
}
.brand_logo_02 {
  width: 9rem;
  height: 3rem;
}
.footer h3 {
  font-size: 2.6rem;
  font-weight: 700;
  color: #000;
  height: 10rem;
  margin-bottom: 2rem;
}
.mid_part {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5.5rem 0rem 10rem;
}
.brand_title {
  flex-grow: 1;
}

.brand_title h4 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #000;
  justify-content: flex-end;
  margin-top: 3rem;
}

.subs h2 {
  font-size: 2.3rem;
  font-weight: 500;
  color: #000;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}
.subs button {
  padding: 1.6rem 2.7rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  background-color: #0084d6;
  text-transform: uppercase;
  border: none;
}
.inside_subs {
  padding: 1rem 0rem 2rem;
}
.inside_subs input {
  height: 4.5rem;
  width: 23rem;
  padding: 1.2rem;
  border: 1px solid lightgray;
}
.inside_subs input::placeholder {
  font-size: 1.6rem;
  color: #757575;
  font-weight: 400;
}
.footer_listing h2 {
  font-size: 2.2rem;
  font-weight: 500;
  color: #000;
  margin-bottom: 1.6rem;
  text-transform: capitalize;
}
.footer_listing ul li {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: capitalize;
  margin: 1rem 0rem;
  color: #757575;
}
.footer_listing {
  flex-grow: 2;
}

.inside_img {
  width: 39.4rem;
  min-width: 1.7rem;
}
.user_icon {
  height: 1.8rem;
  width: 1.8rem;
  cursor: pointer;
}
.user_icon_white {
  color: #fff;
}
.home_p2_hover {
  display: none;
  position: absolute;
  padding-top: 42px;
}
.home_p2_hover div {
  width: 20rem;
  padding: 2rem 0rem 2rem 2rem;
  background-color: #fff;
  cursor: pointer;
  border-radius: 2px;
  margin-left: -15rem;
  border-bottom: 1px solid black;
}
.home_p2_hover div span {
  font-size: 1.4rem;
  font-weight: 500;
  color: #000;
}
.home_p2_hover div:hover {
  background-color: #f5f7f9;
}
.login_modal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  /* right: auto;
  bottom: auto;
  margin-right: -50%; */
  background-color: #f5f7f9;
  padding: 3rem;
  border-radius: 4px;
}
.login_modal div input {
  width: 25rem;
  height: 5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: none;
}

.login_submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0084d6;
  height: 4rem;
  cursor: pointer;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  width: 25rem;
  height: 4rem;
}
.overlay {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5);
}
.cut {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}
.cut svg {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.show_login:hover .home_p2_hover {
  display: block;
  z-index: 2;
}
.thumbs-wrapper {
  display: none;
}
.carousel_img {
  width: auto;
  height: 400px;
}
.carousel-status {
  display: none;
}
