.detail_sec00 {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  background-color: #fff;
}
.detail_sec01 img {
  border-radius: 4px;
  width: 100%;
  max-width: 50rem;
  height: 50rem;
}
.detail_sec02 {
  width: 100%;
  max-width: 80rem;
  min-width: 25rem;
}
.detail_sec02 div:nth-child(1) {
  padding: 2rem 0rem 1rem;
}

.detail_sec02 div:nth-child(2) p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #878787;
}
.detail_sec02 div:nth-child(2) label {
  font-size: 2rem;
  font-weight: 400;
  color: #212121;
}
.detail_sec02 div:nth-child(3) h1 {
  padding-top: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
}
.detail_sec02 div:nth-child(3) h1 span {
  color: #878787 !important;
  margin: 0rem 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: line-through;
  opacity: 0.7;
}
.detail_sec02 div:nth-child(3) h1 label {
  display: inline;
  color: #236a8e;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 600;
}
.detail_sec02 div:nth-child(4) {
  margin-top: 1rem;
}

.detail_sec02 .detail_left__5 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0px !important;
}
.detail_sec02 .detail_left__5 input {
  width: 59px;
  height: 35px;
  background-color: #fff;
  margin-right: 2rem;
  border: 1px solid #d7d6d6;
  font-size: 1.6rem;
  padding-left: 20px;
}
.detail_sec02 .detail_left__5 button {
  width: 27.6rem;
  height: 4rem;
  border-radius: 2px;
  background-color: #0084d6;
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 1rem;
}
.detail_downside {
  margin-top: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #d7d6d6;
}
.detail_downside div:nth-child(1) span {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  font-weight: 500;
  color: #212121;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.detail_downside div:nth-child(1) span:hover {
  background-color: #0084d6;
  color: #fff;
}

/* .detail_downside div:nth-child(1) {
  padding: 1rem 1rem;
} */

.prod_detail__check div input {
  width: 90px;
  border-left: none;
  border-top: none;
  border-right: none;
}
.prod_detail__check div input::placeholder {
  font-size: 13px;
  letter-spacing: 0.5px;
}
.prod_detail__check div {
  display: flex;
  margin-bottom: 1rem;
  padding: 0px !important;
}
.prod_detail__check div p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #312f2f;
  text-transform: capitalize;
  margin-left: 5px;
  cursor: pointer;
}
.prod_detail__check div p:hover {
  color: #0084d6;
}
.prod_detail__check h5 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #212121;
  text-transform: capitalize;
}
.prod_detail__check h5 span {
  text-decoration: line-through;
  color: #878787;
}
.prod_detail__check h6 {
  font-size: 11px;
  color: #212121;
  font-weight: 400;
}
.prod_detail__offers {
  padding: 1rem 0rem;
}
.prod_detail__offers p {
  font-size: 1.8rem;
  font-weight: 500;
  color: #212121;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.prod_detail__offers h5 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #212121;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.prod_detail__offers h5 span {
  font-size: 1.5rem;
  font-weight: 500;
  color: #878787;
  text-transform: capitalize;
}
