.prod_detail__list label {
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
}
.prod_detail__list span {
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
}

.prod_descr {
  background-color: #fff;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
  width: 100%;
}
.prod_detail__list {
  width: 100%;
  min-width: 25rem;
  display: flex;
  justify-content: space-between;
}
.right_sec__detail {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  border-bottom: 1px solid #d7d6d6;
  padding: 3rem;
}
.outer_rgt__sec {
  border: 1px solid #d7d6d6;
  border-radius: 2px;
}
.right_sec__detail p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
  word-spacing: 0.5px;
  letter-spacing: 0.5px;
  text-align: justify;
  width: 700px;
  min-width: 30rem;
}
.right_sec__detail img {
  width: 15rem;
  height: 15rem;
}
